---
http_interactions:
- request:
    method: get
    uri: http://demo.adswizz.com/www/delivery/swfIndex.php?protocolVersion=2.0&reqType=AdsSetup&zoneId=
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Adsrv:
      - i-a28c0def
      Content-Type:
      - application/xml; charset=UTF-8
    body:
      encoding: UTF-8
      string: <?xml version="1.0" encoding="UTF-8"?><VAST version="2.0"></VAST>
  recorded_at: Thu, 26 Sep 2013 11:25:46 GMT
- request:
    method: get
    uri: http://demo.adswizz.com/www/delivery/swfIndex.php?protocolVersion=2.0&reqType=AdsSetup&zoneId=1234
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Adsrv:
      - i-ba8c0df7
      Content-Type:
      - application/xml; charset=UTF-8
    body:
      encoding: UTF-8
      string: "<?xml version=\"1.0\" encoding=\"UTF-8\"?><VAST version=\"2.0\">\r\n\t<Ad
        id=\"AdswizzAd689\">\r\n\t\t<InLine>\r\n\t\t\t<AdSystem>Adswizz</AdSystem>\r\n\t\t\t<AdTitle>Pharma</AdTitle>\r\n\t\t\t<Description>Pharma</Description>\r\n\t\t\t<Impression
        id=\"AdswizzImpression\"><![CDATA[http://demo.adswizz.com/www/delivery/swfIndex.php?reqType=AdsDisplayStarted&protocolVersion=2.0&adId=689&zoneId=1234&viewKey=1380195425.24&tagsArray=&sessionId=76f90eda3ac251df87df595cd829ab14]]></Impression>\r\n\t\t\t\r\n\t\t\t<Creatives>\r\n\t\t\t\t\r\n\t\t\t\t\r\n\t\t\t</Creatives>\r\n\t\t\t<Extensions>\r\n\t\t\t
        \ <Extension type=\"AdServer\">\r\n\t\t\t\t<AdContext>fHA6MzAw</AdContext>\r\n\t\t\t
        \ </Extension>\r\n\t\t\t  </Extensions>\r\n\t\t</InLine>\r\n\t</Ad></VAST>"
  recorded_at: Thu, 26 Sep 2013 11:37:06 GMT
recorded_with: VCR 2.6.0
