---
http_interactions:
- request:
    method: get
    uri: http://exchange.adswizz.com/www/delivery/swfIndex.php?protocolVersion=2.0&reqType=AdsSetup&zoneId=3031
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Adsrv:
      - i-af867ee1
      Content-Type:
      - application/xml; charset=UTF-8
    body:
      encoding: UTF-8
      string: "<?xml version=\"1.0\" encoding=\"UTF-8\"?><VAST version=\"2.0\">\r\n\t<Ad
        id=\"AdswizzAd3010\">\r\n\t\t<Wrapper>\r\n\t\t\t<AdSystem>Adswizz</AdSystem>\r\n\t\t\t<VASTAdTagURI><![CDATA[http://france.adswizz.com/www/delivery/swfIndex.php?zoneId=603&reqType=AdsSetup&protocolVersion=2.0&sessionId=5b494c7345e4e4e59e22ac7ea0210339&context=fHI6MQ==]]></VASTAdTagURI>\r\n\t\t\t<Impression
        id=\"AdswizzImpression\"><![CDATA[http://exchange.adswizz.com/www/delivery/swfIndex.php?reqType=AdsDisplayStarted&protocolVersion=2.0&adId=3010&zoneId=3031&viewKey=1385131747.03&tagsArray=&sessionId=5b494c7345e4e4e59e22ac7ea0210339]]></Impression>\r\n\t\t\t\r\n\t\t\t<Creatives>\r\n\t\t\t\t<Creative>\r\n\t\t\t\t\t<Linear>\r\n\t\t\t\t\t\t<TrackingEvents>\n\t\t\t\t\t\t\t<Tracking
        event=\"start\"><![CDATA[http://exchange.adswizz.com/www/delivery/swfIndex.php?reqType=AdsSendReport&displayPercentage=0&protocolVersion=2.0&adId=3010&zoneId=3031&viewKey=1385131747.03&tagsArray=&sessionId=5b494c7345e4e4e59e22ac7ea0210339]]></Tracking>\n\t\t\t\t\t\t\t<Tracking
        event=\"firstQuartile\"><![CDATA[http://exchange.adswizz.com/www/delivery/swfIndex.php?reqType=AdsSendReport&displayPercentage=25&protocolVersion=2.0&adId=3010&zoneId=3031&viewKey=[...]
[...]
- request:
    method: get
    uri: http://france.adswizz.com/www/delivery/swfIndex.php?context=fHI6MQ==&protocolVersion=2.0&reqType=AdsSetup&sessionId=5b494c7345e4e4e59e22ac7ea0210339&zoneId=603
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Adsrv:
      - i-aa8c0de7
      Content-Type:
      - application/xml; charset=UTF-8
    body:
      encoding: UTF-8
      string: "<?xml version=\"1.0\" encoding[...]
- request:
    method: get
    uri: http://havas.adswizz.com/www/delivery/swfIndex.php?context=fHI6MTt8cjox&protocolVersion=2.0&reqType=AdsSetup&sessionId=5b494c7345e4e4e59e22ac7ea0210339&zoneId=622
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Adsrv:
      - i-a28c0def
      Content-Type:
      - application/xml; charset=UTF-8
    body:
      encoding: UTF-8
      string: "<?xml version=\"1.0\" encoding=\"UTF-8\"?><VAST version=\"2.0\">\r\n\t<Ad
        id=\"AdswizzAd1913\">\r\n\t\t<InLine>\r\n\t\t\t<AdSystem>Adswizz</AdSystem>\r\n\t\t\t<AdTitle>Audio
        1 - Aupeo</AdTitle>\r\n\t\t\t<Description>Audio 1 - Aupeo</Description>\r\n\t\t\t<Impression
        id=\"AdswizzImpression\"><![CDATA[http://havas.adswizz.com/www/delivery/swfIndex.php?reqType=AdsDisplayStarted&protocolVersion=2.0&adId=1913&zoneId=622&viewKey=1385379662.59&tagsArray=&sessionId=5b494c7345e4e4e59e22ac7ea0210339]]></Impression>\r\n\t\t\t\r\n\t\t\t<Creatives>\r\n\t\t\t\t<Creative
        sequence=\"1\">\r\n\t\t\t\t\t<Linear>\r\n\t\t\t\t\t\t<Duration>00:00:30</Duration><VideoClicks><ClickThrough><![CDATA[http://havas.adswizz.com/www/delivery/ck.php?oaparams=2__bannerid=1913__zoneid=622__cb=d962ad8da9__viewkey=1385379662.59__maxdest=]]></ClickThrough><CustomClick><![CDATA[http://havas.adswizz.com/www/delivery/swfIndex.php?reqType=AdsClicked&protocolVersion=2.0&clickX=[clickX]&clickY=[clickY]&time=[timestamp]&adId=1913&visitorCookieSend=ebb25f7972587852369941f7df9c7fb8&zoneId=622&viewKey=1385379662.59&tagsArray=&sessionId=5b494c7345e4e4e59e22ac7ea0210339&cb=[random]]]></CustomClick></VideoClicks>\r\n\t\t\t\t\t\t<MediaFiles>\r\n\t\t\t\t\t\t\t<MediaFile
        delivery=\"progressive\" bitrate=\"128\" width=\"0\" height=\"0\" type=\"audio/mpeg\"><![CDATA[http://delivery-s3.adswizz.com/havas/_ford_fiesta_bonus_sans_cond_30sec_m1_ad_528a14c2c9897_1384780994.mp3]]></MediaFile>\r\n\t\t\t\t\t\t\t\r\n\t\t\t\t\t\t</MediaFiles>\r\n\t\t\t\t\t\t<TrackingEvents>\n\t\t\t\t\t\t\t<Tracking
        event=\"start\"><![CDATA[http://havas.adswizz.com/www/delivery/swfIndex.php?reqType=AdsSendReport&displayPercentage=0&time=0&protocolV[...]
