---
http_interactions:
- request:
    method: get
    uri: http://demo.adswizz.com/www/delivery/swfIndex.php?protocolVersion=2.0&reqType=AdsSetup&zoneId=2409
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Adsrv:
      - i-b04bc6fd
      Content-Type:
      - application/xml; charset=UTF-8
    body:
      encoding: UTF-8
      string: "<?xml version=\"1.0\" encoding=\"UTF-8\"?><VAST version=\"2.0\">\r\n\t<Ad
        id=\"AdswizzAd11421\">\r\n\t\t<InLine>\r\n\t\t\t<AdSystem>Adswizz</AdSystem>\r\n\t\t\t<AdTitle>Ad
        One</AdTitle>\r\n\t\t\t<Description>Ad One</Description>\r\n\t\t\t<Impression
        id=\"AdswizzImpression\"><![CDATA[http://demo.adswizz.com/www/delivery/swfIndex.php?reqType=AdsDisplayStarted&protocolVersion=2.0&adId=11421&zoneId=2409&viewKey=1381390933.96&tagsArray=&sessionId=1398ca87c86b674708e288a21d71b88c]]></Impression>\r\n\t\t\t\r\n\t\t\t<Creatives>\r\n\t\t\t\t<Creative
        sequence=\"1\">\r\n\t\t\t\t\t<Linear>\r\n\t\t\t\t\t\t<Duration>00:02:50</Duration><VideoClicks><ClickThrough><![CDATA[http://demo.adswizz.com/www/delivery/ck.php?oaparams=2__bannerid=11421__zoneid=2409__cb=e27035e264__viewkey=1381390933.96__maxdest=]]></ClickThrough><CustomClick><![CDATA[http://demo.adswizz.com/www/delivery/swfIndex.php?reqType=AdsClicked&protocolVersion=2.0&clickX=[clickX]&clickY=[clickY]&time=[timestamp]&adId=11421&visitorCookieSend=3e7f054451f8c6f1e45caeb4bd09104e&zoneId=2409&viewKey=1381390933.96&tagsArray=&sessionId=1398ca87c86b674708e288a21d71b88c&cb=[random]]]></CustomClick></VideoClicks>\r\n\t\t\t\t\t\t<MediaFiles>\r\n\t\t\t\t\t\t\t<MediaFile
        delivery=\"progressive\" bitrate=\"192\" width=\"0\" height=\"0\" type=\"audio/mpeg\"><![CDATA[http://delivery-s3.adswizz.com/demo/maid_with_the_flaxen_hair_ad_522986bc37c9c_1378453180.mp3]]></MediaFile>\r\n\t\t\t\t\t\t\t\r\n\t\t\t\t\t\t</MediaFiles>\r\n\t\t\t\t\t\t<TrackingEvents>\n\t\t\t\t\t\t\t<Tracking
        event=\"start\"><![CDATA[http://demo.adswizz.com/www/delivery/swfIndex.php?reqType=AdsSendReport&displayPercentage=0&time=0&protocolVersion=2.0&adId=11421&zoneId=2409&viewKey=1381390933.96&tagsArray=&sessionId=1398ca87c86b674708e288a21d71b88c]]></Tracking>\n\t\t\t\t\t\t\t<Tracking
        event=\"firstQuartile\"><![CDATA[http://demo.adswizz.com/www/delivery/swfIndex.php?reqType=AdsSendReport&displayPercentage=25&time=43&protocolVersion=2.0&adId=11421&zoneId=2409[...]
- request:
    method: get
    uri: http://demo.adswizz.com/
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 302
      message: Found
    headers:
      Adsrv:
      - i-a28c0def
      Content-Type:
      - text/html
      Location:
      - http://admin.demo.adswizz.com/www/admin/index.php
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Fri, 08 Nov 2013 10:11:03 GMT
recorded_with: VCR 2.6.0
